
<div class="container-fluid">
    <p>Welcome to User Manger Application</p><br>
    <div class="col-sm-6">
        <button class="btn btn-warning" (click)="open(addUserModal)"><i class="fa fa-plus"></i>
             Add User</button>
    </div> <br>
    <div class="form-group col-sm-6">
        <label>Search for a specific user</label>
        <input class="form-control" type="text" [(ngModel)]="searchterm" (keyup)="search()" placeholder="Search by name">
        <p *ngFor="let name of names">{{name}}</p>
    </div>
</div>

<ng-template #addUserModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add User</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-user-form [user]="user" (emitter)="addUser($event)"></app-user-form>
    </div>
</ng-template>